.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 6em;
  gap: 0.5em;
}

.brain-counter {color:green}

.shot-counter {color:red}

.score-panel {
  display: flex;
  flex-direction: column;
}