.container {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(41, 40, 40);
  border-radius: 40px;
  padding: 0.8em 3em;
  box-sizing: border-box;
  letter-spacing: 0.2em;
}

.brain-counter {color:green}

.shot-counter {color:red}

.score-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.score-group-a{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.score-group-b{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 1.5em;
    font-size: 60%;
  }

  .score-panel {
    div {
      margin-bottom: 0.3em;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 1.5em;
    font-size: 40%;
    border-radius: 8px;
  }

  .score-panel {
    div {
      margin-bottom: 0.3em;
    }
  }
}