.container {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  min-height: 30em;
  background-color: gray;
  border-radius: 40px;
  padding: 2em;
  align-items: flex-start;
}

.roll-panel {
  background-color: rgb(109, 109, 109);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  min-height: 5em;
  height: 100%;
  width: 100%;
  padding: 2em;
  gap: 1em;
  border-radius: 40px;
  margin: 2em 0;
  letter-spacing: 0.2em;
}
.roll-panel h2 {
  color: white;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  gap: 1em;
}

.color-box {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  aspect-ratio: 1 / 1;
  height: 10em;
  border-radius: 12px;
}
.color-box div {
  background-color: rgb(43, 221, 52);
  border-radius: 100%;
  height: 50%;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 8px;
  }

  .roll-panel {
    font-size: 50%;
    flex-direction: column;
    height: 100%;
    margin: 2em 0;
    border-radius: 8px;
  }

  .color-box {
    height: 20%;
    margin: 1em 0;
    border-radius: 8px;
  }

  .control-panel {
    flex-direction: column;
  }
}