.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70%;
  gap: 1em;

  button {
    border: none;
    color: white;
    background-color: gray;
    height: 3em;
    width: 50%;
  }
}